{% extends 'base_generic.html' %}
{% block content %}
<h1>Профиль пациента</h1>
<h2>Данные пациента</h2>
<p>Полное имя: {{ patient.fullname }}</p>
<p>Email: {{ patient.email }}</p>
<p>Телефон: {{ patient.phone }}</p>

<h2>Диагнозы</h2>
<ul>
    {% for diagnosis in diagnoses %}
    <li>{{ diagnosis.description }} ({{ diagnosis.get_is_active_display }})
        {% if request.user == diagnosis.doctor %}
        <a href="{% url 'toggle_diagnosis_status' diagnosis.id %}">Изменить статус</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
